body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Helvetica, sans-serif;
}

.nav{
    width:2px;background-color: #ccc;
    cursor:pointer;
    margin-bottom: 1rem;
}

.step{
    background-color: #ddd;
    text-align: center;
    cursor:pointer;
}
.example-text{
    padding:1rem
}

.formula{
    background-color: beige;
    padding:3px 6px;
    font-size: 9px;
    cursor:pointer;
    border: 1px solid grey;
}